@using BlazorAppExcel.Components.atomic
@using BlazorAppExcel.Interfaces
@using BlazorAppExcel.Models
@using System.Text.Json
@using BlazorAppExcel.Pages.Dialogs
@using BlazorAppExcel.Components
@using System.Linq;
@using BlazorAppExcel.Share.Models

@inject IJSRuntime JSRuntime

@if (table == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <TableView @ref="tableComponentRef" Table="@table" AllowedEdit="@AllowedEdit" OnEdit="@OnEdit" OnDelete="@OnDelete" OnSaveColumn="@OnSaveColumn"></TableView>
}

@code {

    [Parameter]
    public bool AllowedEdit { get; set; } = false;

    [Parameter]
    public TableExcel table { get; set; } = new TableExcel();

    [Parameter] public Action<RowCellExcel> OnEdit { get; set; } = default!;
    [Parameter] public Action<int> OnDelete { get; set; } = default!;
    [Parameter] public Action<int, string> OnSaveColumn { get; set; } = default!;

    private string tabName = string.Empty;

    string id_table = string.Empty;

    TableView tableComponentRef;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        string id_table = $"table-excel-{table?.Name}";
        tabName = table?.Name;

    }

    public void CopyRowsSelected()
    {
        tableComponentRef.CopyRowsSelected();
        this.StateHasChanged();
    }

    public void DeleteRowsSelected()
    {
        tableComponentRef.DeleteRowsSelected();
        this.StateHasChanged();
    }
}