@using BlazorAppExcel.Components.atomic
@using BlazorAppExcel.Interfaces
@using BlazorAppExcel.Models
@using System.Text.Json
@using BlazorAppExcel.Pages.Dialogs
@using BlazorAppExcel.Components
@using System.Linq;
@using BlazorAppExcel.Share.Models

@inject IJSRuntime JSRuntime

@if (table == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <TableView Table="@table" AllowedEdit="@AllowedEdit" OnEdit="@OnEdit" OnDelete="@OnDelete" OnSaveColumn="@OnSaveColumn"></TableView>
}

@code {
    
    [Parameter]
    public bool AllowedEdit { get; set; } = false;

    [Parameter]
    public TableExcel table { get; set; } = new TableExcel();

    [Parameter] public Action<RowCellExcel> OnEdit { get; set; }
    [Parameter] public Action<int> OnDelete { get; set; }
    [Parameter] public Action<KeyValuePair<string, string>> OnSaveColumn { get; set; }

    private string tabName = string.Empty;

    string id_table = string.Empty;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        string id_table = $"table-excel-{table?.Name}";
        tabName = table?.Name;

    }
  
}